In [2]:
# triangle size input from user
size = int(input("enter number of rows: "))

enter number of rows:  5

In [ ]:
# code to print triangle pattern
size = int(input("enter number of rows: "))
for i in range(size):
    for j in range(i+1):
        print(" * ",end="")
    print()

In [18]:
# code to print reverse triangle pattern
size = int(input("enter number of rows: "))
for i in range(size):
    for j in range(i, size):
        print(" * ",end="")
    print()

enter number of rows:  5

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [27]:
for i in range(size):
    for j in range(i, size):
        print(" ",end="")
    for j in range(i+1):
        print(" *",end="")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *

In [38]:
# 1. decreasing space, 2. increasing star, 3. increasing star,
# but second loop for increasing start has range till i, this
# helps to print one less column and gives the triangle a peak.
for i in range(size):
    for j in range(i, size):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********

In [29]:
# 1. increasing space triangle, 2. decreasing star triangle

for i in range(size):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i, size):
        print("*",end="")
    print()

 *****
  ****
   ***
    **
     *

In [5]:
# 1. increasing space, 2. decreasing star, 3. decreasing star,
# but second loop for increasing start has range till n-1 , this
# helps to print one less column and gives the triangle a peak.
for i in range(size):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i, size -1):
        print("*",end="")
    for j in range(i, size):
        print("*",end="")
    print()

 *********
  *******
   *****
    ***
     *

In [9]:
# Diamond pattern

for i in range(size - 1):
    for j in range(i, size):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")
    print()
for i in range(size):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i, size -1):
        print("*",end="")
    for j in range(i, size):
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *